{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
<title>Market</title>
</head>
<body bgcolor="yellow" class="bodycol">
<div id="divcolorbas" align="center"> 
<h1 class="animated zoomInDown">Apps</h1>
</div>

<div align="center">

<TABLE  border="1" height="1" align="center " CLASS="animated zoomInDown">


    <tr align="center">
        <td id="tdcol">
            <a href="#">
       <img height="150" src="https://cdn6.aptoide.com/imgs/2/0/9/209bbe5ac7102e989232de48b35c6eba_icon.png">
            </a>
            <br/>
            <h3> Ekitap</h3>
            <br/>
                 <b>MB</b>
        </td>
        <td align="center">
            
            <a href="#">
                <img alt="safari icon" src="https://cdn6.aptoide.com/imgs/a/4/a/a4af72132bcf2365f4fb6ef1d7adb614_icon.png"
                width="240">
            </a>
            <br/>
            <h3>Safari</h3>
            <br/>
                 <b>MB</b>
            
        </td>
        <td align="center"> 
            <a href="#">
   <img alt="Clash of Clans Quiz"
   src="https://cdn6.aptoide.com/imgs/f/0/6/f06c8fe7ec044142ca17569f5ee42f82_icon.png" width="240"></a>
   <br/>
               <h3>Coc Quiz</h3>
            <br/>
                 <b>MB</b>

        </td>

    </tr>
    <tr>
        <td align="center">
             <a href="#">

    <img alt="pokemon quiz" height="200" src="https://cdn6.aptoide.com/imgs/6/9/6/696f33104c29e3320ad5f1055311df72_icon.png" width="240">
   </a>
            <br/>
            <h3>Pokemon Quiz</h3>
            <br/>
                 <b>MB</b>
        </td>
        <td align="center">
            <a href="#">
    <img alt="iMusic icon" src="https://cdn6.aptoide.com/imgs/e/c/a/eca3000b03d65e46bc837778c0c52f0e_icon.png?w=240">
     </a>
            <br/>
            <h3>iMusic Download</h3>
                <br/>
                 <b>MB</b>
        </td>
        <td align="center">
            <a href="#">
    <img alt="guess the famous" height="250" src="https://cdn6.aptoide.com/imgs/f/6/e/f6e8bb1ee2c4d81cdd67917ae2765087_icon.png">
     </a>
            <br/>
            <h3>Tahmin Oyunu</h3>
                <br/>
                 <b>MB</b>
        </td>
    </tr>
</TABLE>
</div>
</body>
</html>